In [5]:
import numpy as np
import pandas 
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [15]:
tickers = ['PETR4.SA', 'ITUB3.SA', 'VALE3.SA', 'WEGE3.SA', 'ABEV3.SA']
sec_data = pandas.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2009-1-1')['Adj Close']

In [17]:
sec_data.tail()

             PETR4.SA   ITUB3.SA   VALE3.SA   WEGE3.SA   ABEV3.SA
Date
2019-11-18  29.080000  30.809999  47.610001  29.299999  17.559999
2019-11-19  28.780001  30.299999  48.169998  29.200001  17.670000
2019-11-21  29.850000  30.760000  48.419998  28.879999  18.070000
2019-11-22  29.980000  30.730000  50.029999  29.059999  18.190001
2019-11-25  29.730000  30.440001  50.860001  29.100000  18.200001

In [18]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [19]:
sec_returns

            PETR4.SA  ITUB3.SA  VALE3.SA  WEGE3.SA  ABEV3.SA
Date
2009-01-02       NaN       NaN       NaN       NaN       NaN
2009-01-05  0.022563  0.003454  0.052997  0.024653 -0.034290
2009-01-06  0.013848  0.017094  0.027298  0.019595 -0.012048
2009-01-07 -0.040086 -0.025752 -0.064034 -0.045811 -0.004363
2009-01-08  0.042048  0.000000  0.043554  0.031528  0.009410
...              ...       ...       ...       ...       ...
2019-11-18 -0.007537 -0.002593  0.012895  0.001366  0.006284
2019-11-19 -0.010370 -0.016692  0.011694 -0.003419  0.006245
2019-11-21  0.036504  0.015067  0.005177 -0.011019  0.022385
2019-11-22  0.004346 -0.000976  0.032710  0.006213  0.006619
2019-11-25 -0.008374 -0.009482  0.016454  0.001376  0.000550

[2659 rows x 5 columns]

In [20]:
sec_returns['PETR4.SA'].mean()

0.0001425113637312228

In [21]:
sec_returns['PETR4.SA'].mean() * 250

0.0356278409328057

In [22]:
sec_returns['PETR4.SA'].std() * 250 ** 0.5

0.4355458169382495

In [26]:
sec_returns[['PETR4.SA', 'ITUB3.SA', 'VALE3.SA', 'WEGE3.SA', 'ABEV3.SA']].std() * 250 ** 0.5

PETR4.SA    0.435546
ITUB3.SA    0.285229
VALE3.SA    0.416405
WEGE3.SA    0.282574
ABEV3.SA    0.245875
dtype: float64

In [27]:
PETRO_var = sec_returns['PETR4.SA'].var()
PETRO_var

0.0007588006346096287

In [28]:
conv_matrix = sec_returns.cov()
conv_matrix

          PETR4.SA  ITUB3.SA  VALE3.SA  WEGE3.SA  ABEV3.SA
PETR4.SA  0.000759  0.000254  0.000339  0.000113  0.000111
ITUB3.SA  0.000254  0.000325  0.000159  0.000100  0.000093
VALE3.SA  0.000339  0.000159  0.000694  0.000097  0.000094
WEGE3.SA  0.000113  0.000100  0.000097  0.000319  0.000072
ABEV3.SA  0.000111  0.000093  0.000094  0.000072  0.000242

In [29]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          PETR4.SA  ITUB3.SA  VALE3.SA  WEGE3.SA  ABEV3.SA
PETR4.SA  0.189700  0.063547  0.084736  0.028312  0.027832
ITUB3.SA  0.063547  0.081356  0.039715  0.024976  0.023284
VALE3.SA  0.084736  0.039715  0.173393  0.024272  0.023475
WEGE3.SA  0.028312  0.024976  0.024272  0.079848  0.017948
ABEV3.SA  0.027832  0.023284  0.023475  0.017948  0.060455

In [30]:
corr_matrix = sec_returns.corr()

In [31]:
corr_matrix

          PETR4.SA  ITUB3.SA  VALE3.SA  WEGE3.SA  ABEV3.SA
PETR4.SA  1.000000  0.511219  0.467108  0.229989  0.259717
ITUB3.SA  0.511219  1.000000  0.334282  0.309771  0.332288
VALE3.SA  0.467108  0.334282  1.000000  0.206282  0.229146
WEGE3.SA  0.229989  0.309771  0.206282  1.000000  0.258161
ABEV3.SA  0.259717  0.332288  0.229146  0.258161  1.000000

In [35]:
weights = np.array([0.20, 0.20, 0.20, 0.20, 0.20])

In [36]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.05203787908005087

In [39]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) * 0.05
pfolio_vol

0.0026018939540025437

In [40]:
print (str(round(pfolio_vol, 5) * 100) + '%')

0.26%